<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">
	

	<test thread-count="5" name="Test1">
		<groups>
			<run>
				<include name="b">
				</include>
			</run>
		</groups>
	</test> <!-- Test -->

</suite> <!-- Suite -->
