<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">
	
	<test name="brosertest">
		<parameter name="browsername" value="chrome">
			<classes>
				<class name="com.maven.test.com.maven.practice.MavenClass"></class>
			</classes>
		</parameter>
	</test>
	<test name="brosertest1">
		<parameter name="browsername" value="firefox">
			<classes>
				<class name="com.maven.test.com.maven.practice.MavenClass"></class>
			</classes>
		</parameter>
	</test>
</suite> <!-- Suite -->
